@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins-regular";
  src: url(../style/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'poppins-medium';
  src: url(../style/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'poppins-bold';
  src: url(../style/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'poppins-extrabold';
  src: url(../style/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: 'poppins-italic';
  src: url(../style/fonts/Poppins/Poppins-Italic.ttf);
}

@layer components {
  .form-element {
    @apply bg-white w-full p-3 rounded-lg shadow-md shadow-gray-200 outline-red-200;
  }
  .btn-primary {
    @apply bg-primary text-white p-2 px-5 rounded-full  hover:bg-gray-400 hover:shadow-none duration-200;
  }

  .btn-secondary {
    @apply bg-yellow-300 p-2 px-5 rounded-full hover:bg-gray-400 hover:shadow-none duration-200;
  }

  .custom-card-style {
    @apply shadow-md shadow-gray-200 rounded-lg p-5; 
  }
}